.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns, each column is one fraction of the overall width of what this card list will be */
  grid-gap: 20px;
}